<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Review - Georgia Tech Movie Store</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'MovieLibrary/css/main.css' %}">
</head>
<body>
    <header class="header-box">
        <div class="header-content">
            <div class="header-column logo">
                <img src="{% static 'MovieLibrary/images/GTVertical_RGB.png' %}" alt="GT Logo" class="gt-logo" style="width: 100px; height: auto;">
            </div>
            <div class="header-column title">
                <h1 class="store-title">Georgia Tech Movie Store</h1>
            </div>
            <div class="header-column nav-links">
                <nav>
                    <a href="/landing">About</a>
                    <a href="/moviespage">Movies</a>
                    <a href="/account">Account</a>
                    <a href="/cart">Cart</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="review-box">
        <div class="review-content">
            <h2 class="store-title">Edit Review</h2>
            <hr />
            <form method="POST">
                {% csrf_token %}
                <textarea name="comment" required class="comment-box" id="comment">{{ template_data.review.comment }}</textarea>
                <div class="text-center mt-3">
                    <button type="submit" class="edit-review-btn">Edit Review</button>
                </div>
            </form>
        </div>
    </main>

    <script src="{% static 'MovieLibrary/js/main.js' %}"></script>
</body>
</html>